*{
    margin: 0;
    pading: 0;
    box-sizing: border-box;
}

.mod-tab ul,.mod-tab li{
    list-style: none;
    padding: 0 ;
    margin: 0;
}

.mod-tab {
    width: 720px;
    border: 1px solid #ccc ;
    margin: 30px auto;
}

.mod-tab>.tabs{
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.mod-tab>.tabs>li{
    border-right: 1px solid #ccc ;
    padding: 10px 0;
    flex-grow: 1;
}

.mod-tab>.tabs>li:last-child{
    border-right: none;
}
.tabs>.tab-active {
    background: #ddd;
}

.mod-tab>.wrap {
    height: 180px;
    overflow: hidden;
    position: relative;
}
.mod-tab .wrap .panels{
    width: 2160px;
    position: absolute;
}
.mod-tab .panels>.panel{
    display: block;
    padding: 20px ;
    width: 720px;
    height: 180px;
    float: left;
}

.mod-tab .panels>.panel:nth-child(1){
    background: #ffe600 ;
}
.mod-tab .panels>.panel:nth-child(2){
    background: #ceb97d;
}
.mod-tab .panels>.panel:nth-child(3){
    background: #99cf15;
}

.clearfix:after{
    content:'';
    display: block;
    clear: both;
}